.floating-robot {
  position: fixed;
  z-index: 110;
  pointer-events: none;
  user-select: none;
  animation: robot-spin 22s linear infinite alternate;
  filter: drop-shadow(0 0 12px #a0f) drop-shadow(0 0 24px #0ff3);
}

@keyframes robot-spin {
  100% { transform: rotate(-10deg); }
}
