.galaxy-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  background: black;

  pointer-events: none; /* Let clicks pass through to the content below */
}

.galaxy-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}
